@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

h1{
    padding-top: 5%;
}

.cloud_container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

#clouds{
    padding: 25px;
    height: 80px;
    width: 155px;
}

